//COLORS

$white: #fff;
$lightgrey: #ccc;
$gold: #ffd700;
$darkgold: #b8860b;
$black: #000;
$blue: #4169e1;
$medgrey: #999;
$darkgrey: #666;
$offwhite: #eee;
$offblack: #212121;

//FONTS
$font_family: Damion;
$font_1: Arial;

